MEXC_API_KEY=your_mexc_api_key_here
MEXC_API_SECRET=your_mexc_api_secret_here
WEEX_API_KEY=your_weex_api_key_here
WEEX_API_SECRET=your_weex_api_secret_here
WEEX_API_PASSPHRASE=your_weex_passphrase_here
PORT=10000
